{% extends "layouts/base.twig" %}

{% block content %}

  {% for layout in post.get_field("components") %}
    {% include "components/" ~ layout.acf_fc_layout ~ ".twig" %}
  {% endfor %}

  {% include "components/overlay.twig" %}

{% endblock %}


