/* ==========================================================================
   #  THUMBNAIL LINKS
   ========================================================================== */

/**
 *  Styles for thumbnails:hover and overlay
 */

.thumbnails__image {
  /* Space beetwen border of the element and white inner border  */
  --border-space: 14px;

  /* Inner border width */
  --border-width: 4px;

  cursor: pointer;

  .thumbnails__overlay {
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: var(--border-space);
      left: var(--border-space);
      bottom: var(--border-space);
      right: var(--border-space);
      opacity: 0;
      z-index: $z-lvl-1;
      transform: scale(1.5);
      transition: $global-transition;
    }

    &::before {
      border-left: var(--border-width) solid $color-border;
      border-right: var(--border-width) solid $color-border;
    }

    &::after {
      border-top: var(--border-width) solid $color-border;
      border-bottom: var(--border-width) solid $color-border;
    }

    .thumbnails__text {
      position: relative;
      z-index: $z-lvl-2;
      opacity: 1;
      margin-top: 0;
      margin-bottom: 0;
      display: block;
      transition: $global-transition;
      color: $color-text;

      @include bp(xlarge) {
        margin-top: 40px;
        opacity: 0;
      }
    }
  }

  .image--overlay {
    position: absolute;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    transition: $global-transition;

    @include bp(xlarge) {
      top: 100%;
    }
  }

  &.image--circle {
    .thumbnails__overlay {
      &::before,
      &::after {
        border-radius: 50%;
      }
    }
  }

  @include bp(xlarge) {
    &:hover {
      .image--overlay {
        top: 0;
        transition: $global-transition;
      }

      .thumbnails__overlay::after,
      .thumbnails__overlay::before {
        opacity: 1;
        transform: scale(1);
      }

      .thumbnails__text {
        opacity: 1;
        margin-top: 0;
      }
    }
  }
}
