/* ==========================================================================
   # POPUP THUMBNAILS OVERLAY
   ========================================================================== */

/**
 *  Styles for popup overlay
 */

.overlay {
  position: fixed;
  background: $color-bg;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: $z-lvl-3;
  align-items: flex-start;
}

.overlay.open {
  display: flex;
  align-items: center;
}

.overlay__close {
  /* Width and height of the box containing the "X" */
  --button-w: 42px;

  /* This is the length of either of the 2 lines which form the "X", as a percentage of the width of the button. */
  --close-width: 95%;

  /* Thickness of the lines of the "X" */
  --close-thickness: 1px;

  width: var(--button-w);
  height: var(--button-w);
  position: absolute;
  z-index: $z-lvl-1;
  top: 20px;
  right: 20px;

  @include bp(xlarge) {
    width: calc(var(--button-w) * 2);
    height: calc(var(--button-w) * 2);
  }

  &::after,
  &::before {
    position: absolute;
    content: ' ';
    height: var(--close-width);
    width: var(--close-thickness);
    right: calc(var(--button-w) / 2);
    background-color: $color-border;

    @include bp(xlarge) {
      right: calc(var(--button-w));
    }
  }

  &::after {
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }
}

.overlay__inner {
  padding: 0 4vw 3vh;

  @include bp(retina) {
    padding: 0;
  }

  img {
    @include bp(xlarge) {
      width: 80%;
    }

    @include bp(retina) {
      width: 100%;
    }
  }
}

.overlay__image,
.overlay__title {
  transition: $global-transition;
  opacity: 0;

  &.loaded {
    opacity: 1;
  }
}

.overlay__image {
  position: relative;
  transform: translateY(10px);
  border: 1px solid $color-border;

  &.loaded {
    transform: translateY(0);
  }
}

.overlay__title {
  position: relative;
  transform: translateY(-10px);

  &.loaded {
    transform: translateY(0);
  }
}
