/* ==========================================================================
   # THUMBNAILS
   ========================================================================== */

/**
 *  Styles for thumbnails
 */

.thumbnails__gallery {
  padding-top: 62px;

  @include bp(medium) {
    padding-top: 82px;
  }

  .thumbnails__overlay {
    @include absolute();
  }

  .o-layout__item:nth-child(even) {
    .thumbnails__overlay {
      @include bp(medium) {
        left: auto;
        right: 0;
      }
    }
  }
}
