<div class="overlay" aria-hidden="true">
    <a href="#" class="overlay__close" aria-label="close overlay"></a>
    <div class="overlay__inner o-wrapper u-text-center">
        <p class="overlay__title c-heading-sub bold"></p>
        <img class="overlay__image" src="" alt="">
    </div>
</div>