<section class="thumbnails__gallery">

    <header class="o-wrapper--text u-text-center space-b-xlg">
        <h1 class="bold">{{ layout.title }}</h1>
        <h2 class="c-text-large normal">{{ layout.subtitle }}</h2>
    </header>

    <div class="o-layout o-layout--wrap o-layout--guttered o-layout--2">

        {% for item in layout.images %}
        <a href="#" class="js-thumbnails_item ratio-1-1 o-layout__item space-b-lg">
            <picture class="ratio-1-1--image thumbnails__image image--{{ item.thumbnail_shape }}">
                <img class="image--full" src="{{ item.image.sizes.square }}" data-image-src="{{ item.image.sizes.hero }}" alt="{{ item.image.alt }}" aria-describedby="thumbnails-{{item.image.id}}">
                <div class="thumbnails__overlay o-layout--center">
                    <h3 id="thumbnails-{{item.image.id}}" class="thumbnails__text c-text-xlarge u-text-center">{{ item.image_title }}</h3>
                </div>
                <div class="image--overlay"></div>
            </picture>
        </a>
        {% endfor %}

    </div>

</section>