/* ==========================================================================
   #SPACING
   ========================================================================== */

/**
 * Simple spacing classes
 */

.space-b-xlg {
  margin-bottom: 60px;

  @include bp(medium) {
    margin-bottom: 100px;
  }

  @include bp(xlarge) {
    margin-bottom: 200px;
  }
}

.space-b-lg {
  margin-bottom: 60px;

  @include bp(medium) {
    margin-bottom: 100px;
  }

  @include bp(xlarge) {
    margin-bottom: 150px;
  }
}
