<!DOCTYPE html>
<html class="no-js" lang="{{ site.language }}" prefix="og: http://ogp.me/ns#" data-webpack-public-path="{{ getDistPath() }}">
<head>
  <meta charset="{{ site.charset }}" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" property="stylesheet" href="{{ revisionedPath('styles/main.css') }}" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.documentElement.classList.remove('no-js');</script>
  {% if isDev() %}
    <script src="{{ revisionedPath('styles/main.js') }}" defer></script>
  {% endif %}
  <script src="{{ revisionedPath('scripts/app.js') }}" defer></script>
  <link rel="pingback" href="{{ site.pingback_url }}" />

  {{ function('wp_head') }}

  {% block head %}
  {% endblock %}
</head>

<body class="{{ body_class }}">
  {{ function('wp_body_open') }}

  <main class="o-wrapper">
    {% block content %}
      Sorry, no content
    {% endblock %}
  </main>

  {{ function('wp_footer') }}
</body>
</html>
