/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */

h1 {
  font-size: 2.5rem;

  @include bp(medium) {
    font-size: 4.5rem;
  }
}

.c-heading-sub {
  font-size: 2.25rem;

  @include bp(medium) {
    font-size: 3.75rem;
  }
}

.c-text-xlarge {
  font-size: 1.6rem;

  @include bp(medium) {
    font-size: 2rem;
  }
}

.c-text-large {
  font-size: 1.2rem;

  @include bp(medium) {
    font-size: 1.5rem;
  }
}

.bold {
  font-weight: $bold;
}

.normal {
  font-weight: $normal;
}
