/* ==========================================================================
   #IMAGES
   ========================================================================== */

/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 */

img {
  font-style: italic; /* [2] */
  max-width: 100%; /* [1] */
  vertical-align: middle; /* [3] */
}

/**
 * 1. If a `width` and/or `height` attribute have been explicitly defined, let’s
 *    not make the image fluid.
 */

img[width],
img[height] {
  max-width: none;
}

.image--circle {
  border-radius: 50%;
}

.image--full {
  height: 100%;
  transform: scale(1.2);
  transition: $global-transition;

  @include bp(xlarge) {
    .thumbnails__image:hover & {
      filter: blur(0.8px);
      transform: scale(1);
      transition: $global-transition;
    }
  }
}

/**
 * 1. Aspect ration images
 * 
 */
.ratio-1-1 {
  display: block;
  padding-top: 100%;
  position: relative;

  .ratio-1-1--image {
    @include absolute(true, 94%, 94%);

    overflow: hidden;
  }

  &:nth-child(even) {
    .ratio-1-1--image {
      @include bp(medium) {
        left: auto;
      }
    }
  }

  @include bp(medium) {
    padding-top: 47%;
  }
}
