/* ==========================================================================
   #LAYOUT
   ========================================================================== */

/* Simple flexbox layout system */

.o-layout {
  display: block;

  @include bp(medium) {
    display: flex;
  }
}

.o-layout--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.o-layout--wrap {
  @include bp(medium) {
    flex-wrap: wrap;
  }
}

.o-layout--guttered {
  justify-content: space-between;
}

.o-layout--2 {
  > .o-layout__item {
    @include bp(medium) {
      width: 47%;
    }
  }
}
