// ==========================================================================
// #GLOBAL
// ==========================================================================
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

$global-radius: 3px !default;
$global-transition: all 500ms ease-in-out !default;

/* Fonts
   ========================================================================== */

$font-sans-serif: 'Open Sans', sans-serif !default;

/* Breakpoints
   ========================================================================== */

$breakpoints: (
  small: 480px,
  medium: 768px,
  large: 1024px,
  xlarge: 1280px,
  full: 1600px,
  retina: 2500px,
);

/* Colors
   ========================================================================== */

// Colors shouldn't be used directly but reassigned
$color-white: #fff;
$color-black: #000;
$color-primary: #f3ffe2;

$color-light-blue: #38b3bf;
$color-blue: #1695a3;

// Text
$color-text: $color-primary;

// Backgrounds
$color-bg: linear-gradient(180deg, $color-light-blue 0%, $color-blue 100%);

// Borders
$color-border: $color-primary;

// Z-Index
$z-lvl-1: 100;
$z-lvl-2: 200;
$z-lvl-3: 300;
$z-lvl-4: 400;

// Font Weight
$normal: 400;
$bold: 800;
