// ==========================================================================
// #POSITION ABSOLUTE
// ==========================================================================

// Mixin to quickly apply absolute styles.
//
// .usage {
//   @include clearfix();
// },

@mixin absolute(
  $responsive: false,
  $width: 100%,
  $height: 100%,
  $center: false
) {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;

  @if $center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }

  @if $responsive {
    @include bp(medium) {
      width: $width;
      height: $height;
    }
  }
}
